/*
  This file has styling for the whole app.
  Please do not hardcode values directly, check
  first hot.css for variables. More info about the
  HOT UI design system here:
  http://github.com/hotosm/ui-design
*/

@import url(./hot.css);
@import url(./hot-sl.css);
@import url(./hot-font-face.css);

/* defaults */

html, body {
  font-family: Helvetica, arial, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: neutralscale;
  overflow: hidden;
  color: var(--hot-color-neutral-950);
  width: 100vw;
  height: 100vh;
}

a {
  color: var(--hot-color-blue-500);
}

/* Layout */

#root {
    min-height: 100vh;
    display:flex;
    flex-direction:column;
}

.app {
  flex:1;
}

.app {
  text-align: center;
  background-color: var(--hot-color-neutral-0);
}

.content {
  text-align: center;
  justify-content: center;
  display: flex;
  min-height: 30vh;
}

/* Utilities */

.highlighted {
  font-size: 1rem;
  background-color: var(--hot-color-yellow-100);
  padding: var(--hot-spacing-2x-small) var(--hot-spacing-x-small);
}

/* Header */

.header {
  background-color: var(--hot-color-neutral-100);
  background: radial-gradient(var(--hot-color-neutral-0), var(--hot-color-neutral-50), var(--hot-color-neutral-0));
  min-height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header a {
  text-decoration: none;
  color:var(--hot-color-neutral-950);
}

.header h1 {
  display: flex;
  gap: var(--hot-spacing-small);
  margin-bottom: 0;
  align-items: flex-end;
}

.header h1 span {
  font-size: calc(var(--hot-font-size-2x-large) + 3vmin);
  height: calc(var(--hot-font-size-4x-large) - 0);
  font-weight: var(--hot-font-weight-bold);
  font-family: var(--hot-font-sans-variant);
}

.header .logo-link {
  text-decoration: none;
  color: var(--hot-color-gray-950);
}

.header h1 .logo {
  height: calc(var(--hot-font-size-2x-large) + 3vmin);
}

.header .subtitle {
  font-size: calc(var(--hot-font-size-medium) + 1vmin);
  font-weight: var(--hot-font-weight-normal);
  margin-top: var(--hot-spacing-large);
  margin-bottom: 0;
}

/* Compact header */

.header h1.titleSmall {
  font-size: var(--hot-font-size-small);
  letter-spacing: -.1rem;
}

.header h1.titleSmall span {
  font-size: var(--hot-font-size-x-large);
}

.header h1.titleSmall .logo {
  height: 32px;
}

.headerSmall {
  flex-direction: row;
  min-height: 60px;
  justify-content: space-between;
  gap: var(--hot-spacing-x-small);
  padding-right: var(--hot-spacing-2x-small);
}

.header.headerSmall h1 {
  align-items: inherit;
}

.headerSmall .logoLink, .fileOptions {
  width: 50%;
}

.headerSmall .logoLink {
  margin-top: 0;
  height: 49px;
  margin-left: var(--hot-spacing-small);
}

.headerSmall .fileOptions {
  text-align: right;
  gap: 10px;
  display: flex;
  justify-content: flex-end;
}

.headerSmall .fileOptions sl-button::part(label) {
  font-weight: bold;
}

/* Nav bar */

.appNav {
  padding: 1vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
}

.appNav span {
  padding-left: 1vh;
}

/* Footer */

.copy {
  display: inline;
  vertical-align: middle;
  margin-left: var(--hot-spacing-x-small);
  height: 3vmin;
  padding: 1vh;
  color: var(--hot-color-neutral-300);
}

.infoLinks {
  display: block;
  right: 0;
  width: 100%;
  text-align: center;
  padding: 2vh;
  font-size: var(--hot-font-size-x-small);
  background-color: var(--hot-color-neutral-0);
}

.infoLinks a {
  color: var(--hot-color-neutral-300);
  text-decoration: none;
}

/* File upload */

.fileUpload {
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: var(--hot-spacing-2x-large);
  padding-bottom: var(--hot-spacing-large);
}

.fileUploadDropArea::part(base) {
  border: 2px dashed var(--hot-color-neutral-600);
  height: calc(var(--hot-spacing-large) * 3.2);
  cursor: pointer;
}

.fileUploadDropArea::part(base):hover {
  border: 2px solid var(--hot-color-primary-300);
  background-color: var(--hot-color-primary-50);
}

.fileUploadDropArea::part(input) {
  height: calc(var(--hot-spacing-large) * 3);
  text-align: center;
}

.fileUploadDropArea svg {
  filter: saturate(0%);
}

/* Info */

.info {
  padding: 0 var(--hot-spacing-small) 0;
}

.info-top-spaced {
  padding-top: var(--hot-spacing-medium)
}

.info-bottom-spaced {
  padding-bottom: var(--hot-spacing-medium)
}

.info a {
  color: var(--hot-color-primary-700);
}

.info small {
  font-size: var(--hot-font-size-x-small);
}

/* Map */

.map {
  width: 100vw;
  height: 93vh;
  text-align: center;
  justify-content: center;
  display: flex;
}

.mapDisabled {
  opacity: .5;
}

.activePopupFeatureContent {
  font-size: var(--hot-font-size-medium);
}

.popup .maplibregl-popup-content {
  padding: 0;
}

.popupImage {
  width: 92%;
  border-radius: var(--hot-border-radius-medium);
}

.userinfo {
  font-size: var(--hot-font-size-small);
  text-align: left;
  padding-left: var(--hot-spacing-medium);
}

.msgUsername {
  font-weight: var(--hot-font-weight-bold);
}

.msgDatetime {
  color: var(--hot-color-neutral-300);
  padding-left: var(--hot-spacing-small)
}

.maplibregl-popup-close-button {
  font-size: var(--hot-font-size-x-large);
  color: var(--hot-color-neutral-400);
  padding: var(--hot-spacing-2x-small) var(--hot-spacing-small);
  border-radius: var(--hot-border-radius-medium);
}

.popup .maplibregl-popup-content {
  box-shadow: var(--hot-shadow-small);
  border-radius: var(--hot-border-radius-large);
}

/* Error boundary */

.errorMessage {
  background-color: var(--hot-color-neutral-neutral-100);
  text-align: center;
  padding: var(--hot-spacing-x-large) var(--hot-spacing-4x-large);
  height: 100vh;
}

.errorMessage .header {
  background: none;
}

.errorMessage pre {
  margin: var(--hot-spacing-x-small);
  padding: var(--hot-spacing-x-small);
  border: 1px solid var(--hot-color-primary);
  overflow: hidden;
  text-overflow:ellipsis; 
}

.errorMessage .buttons {
  margin-bottom: var(--hot-spacing-x-large);
  display: inline-flex;
  gap: 10px;
}

.errorMessage h2 {
  font-size: var(--hot-spacing-x-large);
}

.errorMessage h3 {
  font-weight: var(--hot-font-weight-normal);
  font-size: var(--hot-font-size-large);
}


.errorMessage p {
  line-height: var(--hot-letter-spacing-normal);
  margin-bottom: var(--hot-spacing-x-large);
}

.errorMessage .title {
  font-size: var(--hot-font-size-3x-large);
}

.errorMessage .logo {
  height: var(--hot-font-size-3x-large);
}

/* Messages */

.messages {
  position: absolute;
  right: 0;
  width: 15vw;
  min-width: 200px;
  height: 83vh;
  z-index: 999;
  overflow-y: scroll;
  overflow-x: hidden;
  background: var(--hot-color-neutral-50);
  box-shadow: var(--hot-shadow-small);
  padding-bottom: var(--hot-spacing-x-large);
}

.message .text {
  text-align: left;
  padding-left: var(--hot-spacing-small);
}

.messages .message {
  border: 1px solid var(--hot-color-neutral-200);
  box-shadow: var(--hot-shadow-small);
  margin: var(--hot-spacing-small);
  padding: var(--hot-spacing-x-small);
  border-radius: var(--hot-border-radius-small);
  opacity: .5;
}

.messages .message:hover {
  box-shadow: var(--hot-shadow-small);
  border-color: var(--hot-color-neutral-500);
  cursor: pointer;
  background-color: var(--hot-color-neutral-0);
}

.messages .message.selected {
  border-color: var(--hot-color-primary-500) !important;
  border-width: 2px;
  background-color: var(--hot-color-neutral-0);
}

.messages .message.mapped {
  opacity: 1;
}

.messages .message .msgUsername,
.messages .message .msgDatetime {
  font-size: var(--hot-font-size-x-small);
}

.messages .message .time {
  color: var(--hot-color-neutral-500);
}

.messages .message .text {
  overflow: hidden;
  white-space: nowrap;
  font-size: var(--hot-font-size-x-small);
  text-overflow: clip;
  text-overflow: ellipsis ellipsis;
  text-overflow: ellipsis " ...";
}

/* Connect form */

.connectForm {
  padding: var(--hot-spacing-large);
  background-color: var(--hot-color-neutral-0);
  position: absolute;
  top: 300px;
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  border-radius: var(--hot-border-radius-small);
  box-shadow: var(--hot-shadow-small);
  width: 790px;
}
.connectForm h2 {
  margin-top: 0;
}

.connectForm h3 {
  font-weight: var(--hot-font-weight-normal);
}

.connectForm ol {
  padding-left: var(--hot-spacing-large);
  font-size: var(--hot-font-size-large);
  line-height: var(--hot-line-height-loose);
}

.connectForm hr {
  border: none;
  border-bottom: 1px solid var(--hot-color-warning-300);
}

.connectForm small {
  color: var(--hot-color-neutral-600)
}

.qrCode {
  border: 1px solid var(--hot-color-neutral-300);
}

/* Messages */

.loading {
  position: absolute;
  bottom: var(--hot-spacing-medium);
  right: var(--hot-spacing-medium);
  z-index: 9999;
}

.loading-hide {
  display: none;
}

.loadingBadge::part(base) {
  background-color: var(--hot-color-neutral-0);
  color: var(--hot-color-neutral-700);
}

.mapMessage {
  padding: var(--hot-spacing-medium);
  background-color: var(--hot-color-neutral-0);
  position: absolute;
  top: 300px;
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: var(--hot-shadow-small);
}

.mapMessage h3 {
  font-weight: var(--hot-font-weight-normal);
}

.mapSteps {
  font-size: var(--hot-font-size-3x-large);
  display: inline-flex;
  flex-direction: row;
  gap: var(--hot-spacing-medium);
  font-weight: var(--hot-font-weight-light);
  margin: var(--hot-spacing-2x-large) 0;
}

/* Minimum width */
@media (min-width: 790px) {
  .connectFormWrapper {
    display: flex;
    gap: var(--hot-spacing-medium);
    flex-direction: row;
  }
}

/* Minimum width */
@media (max-width: 790px) {
  .connectFormWrapper {
    text-align: center;
  }
  .connectFormWrapper ol {
    font-size: var(--hot-font-size-medium);
    list-style-position: inside;
  }
  .connectForm {
    width: 100%;
    padding: var(--hot-spacing-medium);
    top: 200px;
  }
}
