/*
  This file has styling for the whole app.
  Please do not hardcode values directly, check
  first hot.css for variables. More info about the
  HOT UI design system here:
  http://github.com/hotosm/ui-design
*/

@import url(./hot.css);
@import url(./hot-sl.css);
@import url(./hot-font-face.css);

/* defaults */

body {
  font-family: Helvetica, arial, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: neutralscale;
  overflow: hidden;
  color: var(--hot-color-neutral-950);
  position: fixed;
  width: 100vw;
  height: 100vh;
}

a {
  color: var(--hot-color-blue-500);
}

/* Layout */

.app {
  text-align: center;
  background-color: var(--hot-color-neutral-0);
}

.content {
  text-align: center;
  justify-content: center;
  display: flex;
  min-height: 30vh;
}

/* Utilities */

.highlighted {
  font-size: 1rem;
  background-color: var(--hot-color-yellow-100);
  padding: var(--hot-spacing-2x-small) var(--hot-spacing-x-small);
}

/* Header */

.header {
  background-color: var(--hot-color-neutral-100);
  background: radial-gradient(var(--hot-color-neutral-0), var(--hot-color-neutral-50), var(--hot-color-neutral-0));
  min-height: 17vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header h1.titleSmall {
  font-size: var(--hot-font-size-small);
  letter-spacing: -.1rem;
}

.header h1 {
  display: flex;
  gap: var(--hot-spacing-medium);
  margin-bottom: 0;
}

.header h1 span {
  font-size: calc(var(--hot-font-size-2x-large) + 3vmin);
  height: calc(var(--hot-font-size-4x-large) - 0.2rem);
  font-weight: var(--hot-font-weight-bold);
  font-family: var(--hot-font-variant);
}

.header h1 .logo {
  height: calc(var(--hot-font-size-2x-large) + 3vmin);
}

.header h1.titleSmall {
  margin-bottom: var(--hot-spacing-medium);
}

.header h1.titleSmall span {
  font-size: var(--hot-font-size-2x-large);
  height: calc(var(--hot-font-size-2x-large) - 0.2rem);
}

.header h1.titleSmall .logo {
  height: var(--hot-font-size-2x-large);
}

.subtitle {
  font-size: calc(var(--hot-font-size-medium) + 1vmin);
}

.fileOptions {
  display: flex;
  gap: 10px;
}

.tagsOptions {
  /* position: absolute;
  right: 15px;
  top: 142px;
  z-index: 9999; */
}

.header .fileOptions sl-button::part(label) {
  font-weight: bold;
}

/* Nav bar */

.appNav {
  padding: 1vh;
  position: absolute;
  top: 0;
  right: 0;
}

.appNav span {
  padding-left: 1vh;
}

/* Footer */

.copy {
  display: inline;
  vertical-align: middle;
  margin-left: var(--hot-spacing-x-small);
  height: 3vmin;
  pointer-events: none;
  padding: 1vh;
  color: var(--hot-color-neutral-300);
}

.github {
  background-image: url("/img/github.png");
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  display: inline-block;
  padding-left: 12px;
  background-size: contain;
  vertical-align: middle;
  margin-left: var(--hot-spacing-3x-small);
  opacity: .8;
}

.infoLinks {
  display: block;
  position: absolute;
  right: 0;
  width: 100%;
  text-align: center;
  bottom: 0;
  padding: 2vh;
  font-size: var(--hot-font-size-x-small);
  background-color: var(--hot-color-neutral-0);
}

.infoLinks a {
  color: var(--hot-color-neutral-300);
  text-decoration: none;
}

/* File upload */

.fileUpload {
  text-align: center;
  justify-content: center;
  display: flex;
}

.fileUpload {
  padding: var(--hot-spacing-large);
}

.fileUploadDropArea {
  margin-top: var(--hot-spacing-medium);
  border: 2px dashed var(--hot-color-neutral-200) !important;
}

.fileUploadDropArea span {
  font-size: var(--hot-font-size-large);
  text-decoration: none !important;
}

.fileUploadDropArea .file-types {
  font-size: var(--hot-font-size-small);
  opacity: .5;
}

/* Info */

.info {
  padding: 0 var(--hot-spacing-small) 0;
}

/* Map */

.map {
  width: 100vw;
  height: 83vh;
  text-align: center;
  justify-content: center;
  display: flex;
}

.activePopupFeatureContent {
  font-size: var(--hot-font-size-medium);
}

.popup .maplibregl-popup-content {
  padding: 0;
}

.popupImage {
  width: 92%;
  border-radius: var(--hot-border-radius-medium);
}

.userinfo {
  font-size: var(--hot-font-size-small);
}

.msgUsername {
  font-weight: var(--hot-font-weight-bold);
}

.msgDatetime {
  color: var(--hot-color-neutral-300);
  padding-left: var(--hot-spacing-small)
}

.maplibregl-popup-close-button {
  font-size: var(--hot-font-size-x-large);
  color: var(--hot-color-neutral-400);
  padding: var(--hot-spacing-2x-small) var(--hot-spacing-small);
  border-radius: var(--hot-border-radius-medium);
}

.popup .maplibregl-popup-content {
  box-shadow: 0 1px 15px rgba(0,0,0,.15);
  border-radius: var(--hot-border-radius-medium);
}

/* Error boundary */

.errorMessage {
  background-color: var(--hot-color-neutral-neutral-100);
  text-align: center;
  padding: var(--hot-spacing-x-large) var(--hot-spacing-4x-large);
  height: 100vh;
}

.errorMessage .header {
  background: none;
}

.errorMessage pre {
  margin: var(--hot-spacing-x-small);
  padding: var(--hot-spacing-x-small);
  border: 1px solid var(--hot-color-primary);
  overflow: hidden;
  text-overflow:ellipsis; 
}

.errorMessage .buttons {
  margin-bottom: var(--hot-spacing-x-large);
  display: inline-flex;
  gap: 10px;
}

.errorMessage h2 {
  font-size: var(--hot-spacing-x-large);
}

.errorMessage h3 {
  font-weight: var(--hot-font-weight-normal);
  font-size: var(--hot-font-size-large);
}


.errorMessage p {
  line-height: var(--hot-letter-spacing-normal);
  margin-bottom: var(--hot-spacing-x-large);
}

.errorMessage .title {
  font-size: var(--hot-font-size-3x-large);
}

.errorMessage .logo {
  height: var(--hot-font-size-3x-large);
}

/* Messages */

.messages {
  position: absolute;
  right: 0;
  width: 15vw;
  height: 83vh;
  z-index: 999;
  overflow-y: scroll;
  overflow-x: hidden;
  background: var(--hot-color-neutral-50);
  box-shadow: -1px 4px 9px rgba(0,0,0, .2);
  padding-bottom: var(--hot-spacing-x-large);
}

.message {
  padding: var(--hot-spacing-small);
}

.messages .message {
  border: 1px solid var(--hot-color-neutral-200);
  box-shadow: 2px -1px 9px rgba(0,0,0, .2);
  margin: var(--hot-spacing-small);
  padding: var(--hot-spacing-medium);
  border-radius: var(--hot-border-radius-small);
  opacity: .5;
}

.messages .message:hover {
  box-shadow: 2px -1px 9px rgba(255,0,0, .2);
  border-color: var(--hot-color-neutral-500);
  cursor: pointer;
  background-color: var(--hot-color-neutral-0);
}

.messages .message.selected {
  border-color: var(--hot-color-primary-500) !important;
  border-width: 2px;
  background-color: var(--hot-color-neutral-0);
}

.messages .message.mapped {
  opacity: 1;
}

.messages .message .username,
.messages .message .time {
  font-size: var(--hot-font-size-x-small);
}

.messages .message .time {
  color: var(--hot-color-neutral-500);
}

.messages .message .text {
  overflow: hidden;
  white-space: nowrap;
  font-size: var(--hot-font-size-x-small);
  text-overflow: clip;
  text-overflow: ellipsis ellipsis;
  text-overflow: ellipsis " ...";
}

