
.tagger {
    margin: 0 var(--hot-spacing-x-small) var(--hot-spacing-x-small);
    text-align: left;
}

.tagger .textInput {
    margin: 0;
    width: 95%;
}

.tagger sl-menu-item::part(label) {
    font-size: var(--hot-font-size-small);
}

.tagger .tags {
    display: flex;
    gap: var(--hot-spacing-x-small);
    width: 90%;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 10px;
}

.tagger.taggerImage .tags,
.tagger.taggerVideo .tags {
    position: absolute;
    margin-bottom: 0;
}

.tagger.taggerImage .tags {
    margin-top: -50px;
}

.tagger.taggerVideo .tags {
    margin-top: -90px;
}