name: Deploy dev to chatmap-dev.hotosm.org

on:
  push:
    branches:
      - develop
    paths:
      - "chatmap-api/Dockerfile"
      - "chatmap-api/*.py"
      - "chatmap-api/uv.lock"
      - "chatmap-im-connector/Dockerfile"
      - "chatmap-im-connector/*.go"
      - "chatmap-im-connector/*.mod"
      - "chatmap-im-connector/*.sum"
      - "chatmap-ui/Dockerfile"
      - "chatmap-ui/*.json"
      - "chatmap-ui/*.js"
      - "chatmap-ui/src/**"
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_PREFIX: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push chatmap-ui
        uses: docker/build-push-action@v5
        with:
          context: ./chatmap-ui
          file: ./chatmap-ui/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/chatmap-ui:latest

      - name: Build and push chatmap-im-connector
        uses: docker/build-push-action@v5
        with:
          context: ./chatmap-im-connector
          file: ./chatmap-im-connector/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/chatmap-im-connector:latest

      - name: Build and push chatmap-api
        uses: docker/build-push-action@v5
        with:
          context: ./chatmap-api
          file: ./chatmap-api/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/chatmap-api:latest

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment: develop
    steps:
      - uses: actions/checkout@v4
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Add host to known_hosts
        run: ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy
        env:
          GH_ACTOR: ${{ github.actor }}
          EC2_HOST: ${{ secrets.EC2_HOST }}
          EC2_USER: ${{ secrets.EC2_USER }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CHATMAP_SECRET_KEY: ${{ secrets.CHATMAP_SECRET_KEY }}
          CHATMAP_ENC_KEY: ${{ secrets.CHATMAP_ENC_KEY }}
          CHATMAP_SITE_ADMIN_EMAIL: ${{ vars.CHATMAP_SITE_ADMIN_EMAIL }}
          CHATMAP_SITE_DOMAIN: ${{ vars.CHATMAP_SITE_DOMAIN }}
          CHATMAP_API_URL: ${{ vars.CHATMAP_API_URL }}
          CHATMAP_API_URL_SUFFIX: ${{ vars.CHATMAP_API_URL_SUFFIX }}
          CHATMAP_ACCESS_TOKEN_EXPIRE_MINUTES: ${{ vars.CHATMAP_ACCESS_TOKEN_EXPIRE_MINUTES }}
          CHATMAP_API_DEBUG: ${{ vars.CHATMAP_API_DEBUG }}
        run: |
          ssh $EC2_USER@$EC2_HOST << ENDSSH
            set -e
            APP_DIR="/home/$EC2_USER/chatmap"
            # Initial setup if it doesn't exist
            if [ ! -d "\$APP_DIR" ]; then
              sudo mkdir -p \$APP_DIR
              sudo chown \$USER:\$USER \$APP_DIR
              git clone -b develop https://github.com/hotosm/chatmap.git \$APP_DIR
              echo "✓ Cloned repository"
            fi
            cd \$APP_DIR
            # Pull latest changes
            git fetch origin develop
            git reset --hard origin/develop
            echo "✓ Updated to latest develop"
            # Create config.json file for the frontend
            cat > config.json << EOF
            {
                "API_URL": "$CHATMAP_API_URL/$CHATMAP_API_URL_SUFFIX",
                "ENABLE_LIVE": $CHATMAP_ENABLE_LIVE,
            }
            EOF
            echo "✓ Created frontend config file"
            # Login to GHCR
            echo "${GH_TOKEN}" | docker login ghcr.io -u ${GH_ACTOR} --password-stdin
            # Pull and deploy
            docker compose -f compose.yml pull
            docker compose -f compose.yml up -d --force-recreate
            # Cleanup
            docker image prune -af
            echo "✓ Deployment complete"
          ENDSSH
